<div class="col-md-12 pad">
  <div class="back">
    <nav class="navbar navbar-expand-sm bg-blood navbar-dark"> 
      <ul class="navbar-nav">
        
        <li class="nav-item">
          <a routerLink="/home" class="nav-link">HOME</a>
    </li>
    <li class="nav-item">
      <a routerLink="/aboutus" class="nav-link">ABOUTUS</a>
</li> 
<li class="nav-item">
  <a routerLink="/contactus" class="nav-link">CONTACTUS</a>
</li>       
<li class="nav-item">
  <a routerLink="/blooddonationcamp" class="nav-link">BLOOD DONATION CAMP</a>
</li>

<li class="nav-item">
              <a routerLink="/login" class="nav-link" >LOGIN</a>
        </li>
        
      </ul>
    </nav> 
  </div>
</div>




